body {
  font-family: Roboto, sans-serif;
  background: #e8ddcb;
}

* {
  box-sizing: border-box;
}

.box-set {
  position: relative;
  height: 1400px;
  background: #cdb380;
  margin: 20px;
}

.box {
  width: 125px;
  height: 125px;
  background: #036564;
  color: #e8ddcb;
  border: 2px solid #033649;
  padding: 20px;
  /* position: absolute; */
}
.box-1 {
  top: 0;
}
.box-2 {
  /* right: 0; */
  top: 0;
  /* position: fixed; */
  position: sticky;
}
.box-3 {
  bottom: 0;
}
.box-4 {
  bottom: 0;
  right: 0;
}

/* .box-2 {
  position: relative;
  right: -50px;
}
.box-3 {
  position: relative;
  top: 60px;
  z-index: 100;
}
.box-4 {
  position: relative;
  z-index: 200;
} */
